@import './ruleset.less';

.app {
      // linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5));
      background: #ffffff url('Assets/logo/logo-faint.png') no-repeat left top;
      background-size: 150%, 150%;
      background-position: top -200px left -200px;
      padding-bottom: 1rem;
      box-shadow: 1px 1px 7px var(--travelog-light-blue);
      min-height: ~"calc(100vh - var(--footer-height))";

    .large-screen ({
      margin-top: 1rem;
      min-height: 70vh;
      background-position: top -100px left -100px;
      background-size: 80%, 80%;
    });
};

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;

  .logo {
    height: 5.5rem;
  }
}
