.wrapper {
  min-width: 200px;
  max-width: 768px;
  margin: 0 auto;
  min-height: 100vh;
}
.wrapper .delete,
.wrapper .delete:hover {
  height: 1.3rem;
  min-height: 1.3rem;
  width: 1.3rem;
  padding: 0;
  border-radius: 50%;
  color: white;
  background: black;
  border: none;
  text-shadow: 0 0 3px black;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
}
.wrapper .delete:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}
.not-logged-in {
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100vw;
}
.app {
  background: #ffffff url('Assets/logo/logo-faint.png') no-repeat left top;
  background-size: 150%, 150%;
  background-position: top 0px left -100px;
  min-height: calc( 100vh - var(--footer-height));
}
@media screen and (min-width: 769px) {
  .app {
    background-size: 120%, 120%;
    background-position: top -50px left -100px;
    box-shadow: 1px 1px 7px var(--travelog-light-blue);
  }
}
.logo {
  height: 2rem;
  border-radius: 5px;
}
.auth-wrapper {
  position: absolute;
  top: 0;
  z-index: 100;
  background: var(--travelog-dusty-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
}
.auth-wrapper .logo {
  height: 5.5rem;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-group {
  display: flex;
  justify-content: center;
}
.chat,
.journal,
.journals-list,
.notes,
.profile,
.profile-view,
.trips,
.trip,
.trip-list,
.view-trip,
.weather {
  padding: 0.5rem 1rem 1rem;
}
@media screen and (max-width: 768px) {
  .chat,
  .journal,
  .journals-list,
  .notes,
  .profile,
  .profile-view,
  .trips,
  .trip,
  .trip-list,
  .view-trip,
  .weather {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--navbar-height));
  }
}
