@import './ruleset.less';

.wrapper {
  min-width:200px;
  max-width:768px;
  margin: 0 auto;
  min-height: 100vh;
}

.not-logged-in {
  position:absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100vw;
}

.app {
  background: #ffffff url('Assets/logo/logo-faint.png') no-repeat left top;
  background-size: 150%, 150%;
  background-position: top 0px left -100px;
  min-height: ~"calc( 100vh - var(--footer-height))";

  .large-screen ({
    background-size: 120%, 120%;
    background-position: top -50px left -100px;
    box-shadow: 1px 1px 7px var(--travelog-light-blue);
  });
};

.logo {
  height: 2rem;
  border-radius: 5px;
}

.auth-wrapper {
  position:absolute;
  top: 0;
  z-index: 100;
  background: var(--travelog-dusty-blue);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;

  .logo {
    height: 5.5rem;
  }
}

.chat,
.journal,
.journals-list,
.notes,
.profile,
.profile-view,
.trips,
.trip-list,
.view-trip,
.weather {
  padding: 0.5rem 1rem 1rem;
}
