@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZlbg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
:root {
  --base-layer: 0;
  --layer-1: 1;
  --layer-2: 2;
  --priority-layer: 50;
  --travelog-dusty-blue: #557689;
  --travelog-blue: #4c8ab9;
  --travelog-mid-blue: #84c1f8;
  --travelog-light-blue: #cfeaff;
  --travelog-green: #98e27f;
  --navbar-color: #0c2e49;
  --footer-height: 4rem;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
body {
  margin-top: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--travelog-dusty-blue);
  color: var(--navbar-color);
  z-index: var(--base-layer);
}
.wrapper {
  min-width: 200px;
  max-width: 700px;
  margin: 0 auto;
}
.logo {
  height: 2rem;
  border-radius: 5px;
}
b {
  font-weight: bold;
}
