@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZlbg.ttf) format('truetype');
}
:root {
  --journal-font: 'Indie Flower', cursive;
  --navbar-color: #4E89BA;
  --bg-color: #84C1F8;
  --navbar-height: 50px;
  --base-layer: 0;
  --priority-layer: 50;
}
#root {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
body {
  margin-top: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #84C1F8;
  color: black;
  z-index: var(--base-layer);
}
html {
  overflow-y: scroll;
}
button,
button:active,
button:visited,
button:focus,
button:hover {
  cursor: pointer;
  border: none;
  outline: none;
  background: #4C8AB9;
  color: white;
}
a:active {
  transition: 200ms, ease;
}
