@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/indieflower/v12/m8JVjfNVeKWVnh3QMuKkFcZlbg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
:root {
  --base-layer: 0;
  --layer-1: 1;
  --layer-2: 2;
  --priority-layer: 50;
  --travelog-dusty-blue: #557689;
  --travelog-blue: #4c8ab9;
  --travelog-mid-blue: #84c1f8;
  --travelog-light-blue: #cfeaff;
  --travelog-green: #98e27f;
  --navbar-color: #0c2e49;
}
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
body {
  margin-top: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--travelog-light-blue);
  color: var(--navbar-color);
  z-index: var(--base-layer);
}
.wrapper h1 {
  padding-bottom: 1em;
}
.wrapper h2 {
  font-weight: 600;
  text-align: center;
  margin: 0.8rem 0 0;
  padding-bottom: 0.4em;
  color: var(--travelog-dusty-blue);
}
.wrapper h3 {
  margin-top: 1rem;
  padding-bottom: 0.5em;
}
.wrapper h4 {
  margin-top: 1rem;
  padding-bottom: 1em;
}
.wrapper h5,
.wrapper h6 {
  padding-bottom: 1em;
}
.wrapper table {
  margin: 2rem 0 3rem;
}
.wrapper td {
  padding: 0.2rem 3rem 0.2rem 1rem;
}
.wrapper label {
  display: block;
  margin: 1rem 2rem 0.3rem;
  font-weight: bold;
}
.wrapper input,
.wrapper textarea {
  font-size: 1.3rem;
  font-family: 'Indie Flower', cursive;
  border: 2px solid #98e27f;
  border-radius: 1rem;
  margin: 0.3rem 1rem 1rem 2rem;
  width: 90%;
}
.wrapper textarea {
  padding: 1rem;
  margin: 0.5rem 1rem;
  resize: vertical;
  min-height: 13rem;
  text-align: left;
}
.wrapper input {
  border: 2px solid #98e27f;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  margin: 0.3rem 1rem 1rem;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .wrapper input {
    text-align: left;
  }
}
.wrapper b {
  font-weight: bold;
}
.wrapper .button,
.wrapper .button:active,
.wrapper .button:visited,
.wrapper .button:focus,
.wrapper .button:hover {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--travelog-green);
  color: white;
  border-radius: 1rem;
  text-align: center;
  line-height: 100%;
  min-height: 2rem;
  padding: 0.5rem 2rem;
  margin: 0.3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.wrapper a {
  text-decoration: none;
}
.wrapper a:active {
  transition: 200ms, ease;
}
