.journal__form {
  height: 100%;
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journal__form .journal__form-textarea-container {
  height: 60%;
  background-color: white;
  padding: 0.5rem;
  color: rgba(128, 128, 128, 0.561);
  font-size: 0.75rem;
  text-align: right;
  border-radius: 5px;
}
.journal__form .journal__form-textarea-container .journal__form-textarea {
  width: 100%;
  height: 95%;
  padding: 0.25rem;
  resize: none;
  font-family: var(--journal-font);
  border-radius: 3px;
}
.journal__form .journal__form-textarea-container .journal__form-textarea:invalid {
  background-color: #fff3f3;
  border-color: red;
}
.journal__form .journal__form-submit {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  line-height: 2rem;
  font-size: 1.5rem;
}
.journal__form .journal__form-submit:active {
  background-color: var(--bg-color);
}
