.profile .profile-flex {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
@media screen and (max-width: 767px) {
  .profile .profile-flex {
    flex-direction: column;
    text-align: center;
    gap: 0rem;
  }
}
.profile .profile-flex input {
  width: 70%;
}
.profile .profile-flex .profile-label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  padding-top: 15px;
}
.profile .profile-flex .profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1.5rem;
}
.profile .center {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .profile .center {
    margin-top: 2rem;
  }
}
