.trip form {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.trip form .sendButton {
  width: 7rem;
  margin: 2rem auto 1rem;
}
.trip .materialui-daterange-picker-MuiListItem-button-269 {
  display: none !important;
  pointer-events: none !important;
  cursor: default !important;
  visibility: hidden !important;
}
.trip .button-dates {
  background-color: var(--travelog-green);
}
.trip .materialui-daterange-picker-MuiGrid-wrap-xs-nowrap-42 {
  flex-wrap: wrap !important;
}
