.trip {

  form {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;

    .sendButton {
      width: 7rem;
      margin: 2rem auto 1rem;
    }
  }

  .materialui-daterange-picker-MuiListItem-button-269 {
    display: none !important;
    pointer-events: none !important;
    cursor: default !important;
    visibility: hidden !important;
  }
  .materialui-daterange-picker-MuiGrid-root-35 {

  }
  .button-dates {
    background-color: var(--travelog-green);
  }
  .materialui-daterange-picker-MuiGrid-wrap-xs-nowrap-42 {
    flex-wrap: wrap !important;
  }
}
