.trip .materialui-daterange-picker-MuiListItem-button-269 {
  display: none !important;
  pointer-events: none !important;
  cursor: default !important;
  visibility: hidden !important;
}
.trip .materialui-daterange-picker-MuiGrid-wrap-xs-nowrap-42 {
  flex-wrap: wrap !important;
}
