.notes-container {
  display: inline-flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 14px;
  box-shadow: 0 0 6px 4px white inset;
}
.notes-container .notes-published {
  display: flex;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  border-radius: 14px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.notes-container .notes-published .notes-list {
  display: flex;
  flex-wrap: wrap;
}
.notes-container .notes-published .notes-list .note-item:hover,
.notes-container .notes-published .notes-list .note-item:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.18);
  position: relative;
  z-index: 5;
}
.notes-container .notes-published .notes-list .note-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 40%;
  max-width: 110px;
  min-width: 110px;
  height: 110px;
  border: none;
  background-color: #98e27f;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Indie Flower', cursive;
  color: black;
  font-weight: bolder;
  padding: 10px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-4deg);
  transition: transform 0.15s linear;
}
.notes-container .notes-published .notes-list .note-item .delete-note {
  margin-left: 40px;
  min-height: 20px;
  width: 50px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  background-color: #4c8ab9;
  border: none;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
}
.notes-container .notes-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  background-color: #84c1f8;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  margin-top: 34px;
}
.notes-container .notes-add .notes-input {
  height: 28px;
  width: 80%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}
.notes-container .notes-add .add-note {
  min-height: 20px;
  width: 50px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  background-color: #4c8ab9;
  border: none;
  margin: 0 0 0 6px;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
}
