.notes-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 340px;
  height: 600px;
  margin: auto;
}

.notes-published {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  width: 280px;
  height: 350px;
  margin: 28px;
  overflow-y: scroll;
}

.notes-add {
  width: 280px;
  height: 100px;
  margin-left: 28px;
}

.add-note {
  margin-top: 30px;
  width: 60px;
  height: 30px;
  margin: auto;
}

.notes-input {
  width: 280px;
  height: 100px;
  text-align: start;
  padding: 10px;
}

.note-item {
  margin: 10px;
  border: 2px solid black;
}
