.notes {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .notes {
    height: calc(100vh - var(--header-height) - var(--footer-height) - var(--navbar-height));
  }
}
.notes .notes-list {
  padding-bottom: 5rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .notes .notes-list {
    overflow-y: scroll;
  }
}
.notes .note-item {
  cursor: pointer;
  width: 13rem;
  min-height: 13rem;
  height: 13rem;
  background-color: #caf0bd;
  font-family: 'Indie Flower', cursive;
  color: black;
  font-weight: bolder;
  padding: 1.5rem;
  margin: 1.7rem;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-4deg);
  transition: transform 0.15s linear;
}
.notes .note-item:hover,
.notes .note-item:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.18);
  position: relative;
  z-index: 5;
}
.notes .note-item .delete-note {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.3rem;
  min-height: 1.3rem;
  width: 1.3rem;
  padding: 0;
  border-radius: 50%;
  color: red;
  background: var(--travelog-blue);
  border: none;
  text-shadow: 0 0 3px black;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
}
.notes form.notes-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.7rem;
}
@media screen and (max-width: 767px) {
  .notes form.notes-add {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0rem;
  }
}
.notes form.notes-add .notes-input {
  width: 80%;
  border-radius: 8px;
  border: 3px solid --var(--travelog-green);
  padding: 0.5rem;
}
.notes form.notes-add .add-note {
  min-height: 20px;
  width: 50px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
  background-color: #4c8ab9;
  border: none;
  margin: 0 0 0 6px;
  box-shadow: 2px 2px 4px rgba(33, 33, 33, 0.7);
}
