@import '../../ruleset.less';

.notes {
  display: flex;
  flex-direction: column;
  overflow: hidden;

    .notes-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .note-item {
      cursor: pointer;
      width: 13rem;
      min-height: 13rem;
      height: 13rem;
      background-color:lighten(#98e27f, 15%);
      font-family: 'Indie Flower', cursive;
      color: black;
      font-weight: bolder;
      padding: 1.5rem;
      margin: 1.7rem;
      word-wrap: break-word;
      overflow: hidden;
      box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      transform: rotate(-4deg);
      transition: transform .15s linear;

      &:hover, &:focus {
        box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        transform: scale(1.18);
        position: relative;
        z-index: 5;
      }
    }

  form.notes-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    background: rgba(255,255,255,0.7);
    padding: 0.7rem;
  }

  .notes-input {
    margin-bottom: 0.3rem;
  }

  .delete {
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
  }
}
