.journals-list h3 {
  text-align: center;
}
.journals-list .journals-list__list {
  padding: 0.5rem;
}
.journals-list .journals-list__list .journals-list__entry {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  max-width: 25rem;
  line-height: 2rem;
  font-size: 1.3rem;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 0.75rem #42749e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.journals-list .journals-list__list .journals-list__entry:visited {
  color: black;
}
.journals-list .journals-list__list .journals-list__entry img {
  width: 30px;
}
