.journals-list {
  margin: 1rem;
  margin-top: 2rem;


  & .journals-list__list {
    padding: 0.5rem;
    margin-top: 1rem;

    & .journals-list__entry {
      padding: 0.5rem 1rem;
      max-width: 25rem;
      line-height: 2rem;
      font-size: 1.5rem;

      border-radius: 5px;
      background: white;
      box-shadow: 0 0 0.75rem #42749e;
    }
  }
}
