.chat .chat-wrapper {
  padding: 1rem 0.7rem;
  border-radius: 1rem;
  background: var(--travelog-blue);
}
@media screen and (min-width: 768px) {
  .chat .chat-wrapper {
    width: 30rem;
    height: 25rem;
    margin: 0rem auto;
  }
}
.chat-body {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height) - var(--navbar-height) - 14rem );
  padding: 0.7rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.25;
  word-wrap: break-word;
  background: #eee;
}
@media screen and (min-width: 768px) {
  .chat-body {
    font-size: 0.5rem;
    height: calc(100vh - var(--header-height) - 2rem - var(--footer-height) - var(--navbar-height) - 9rem );
  }
}
.chat .message {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .chat .message {
    font-size: 20px;
  }
}
.chat .message-data {
  display: flex;
  flex-direction: row;
  font-size: 80%;
}
.chat .message-data .photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .chat .message-data .photo {
    width: 40px;
    height: 40px;
  }
}
.chat .message-data .user {
  font-weight: bold;
}
.chat .message-content {
  border-radius: 1.15rem;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  margin: 0.1rem 0;
  position: relative;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .chat .message-content {
    max-width: 60%;
  }
}
.chat .me {
  align-items: flex-start;
}
.chat .me .message-content {
  align-self: flex-start;
  background-color: var(--travelog-green);
}
@media screen and (min-width: 768px) {
  .chat .me .message-content {
    margin-left: 1rem;
  }
}
.chat .me .message-data {
  align-items: center;
}
.chat .me .message-data * {
  margin-right: 0.4rem;
}
.chat .you {
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .chat .you {
    margin-right: 1rem;
  }
}
.chat .you .message-data {
  flex-direction: row-reverse;
  text-align: right;
  align-items: center;
}
.chat .you .message-data * {
  margin-left: 0.4rem;
}
.chat .you .message-content {
  align-self: flex-end;
  background-color: var(--travelog-mid-blue);
}
.chat-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  gap: 0.5rem;
}
.chat-footer input {
  width: 100%;
  height: 4rem;
  background: #eee;
  border: 0;
  resize: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  padding: 0.8rem 2rem 1rem 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.7rem #aaa;
  white-space: pre-wrap;
}
.chat-footer button {
  width: 6rem;
  height: 4rem;
}
