.chat-header {
  text-align: center;
}
.chat-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  margin-top: 40px;
  width: 400px;
  height: 550px;
  border: 10px solid #4C8AB9;
}
.chat-body {
  border: 1px solid #263238;
  position: relative;
}
.chat .message-data .photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
