.chat {
  &-header {
   text-align: center;
  }

  &-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    margin-top: 40px;
    width: 400px;
    height: 550px;
    border: 10px solid #4C8AB9;
  }

  &-body {
    //   height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    //   background: #fff;
    position: relative;
  }



  .message {
    &-data {

      .photo {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    }

    &-content {

    }


  }
}


// .chat-container {
//   display: flex;
//   flex-direction: column;
//   margin: auto;
//   width: 50%;
//   margin-top: 40px;
//   width: 400px;
//   height: 550px;
//   border: 10px solid #4C8AB9;
// }

// .chat-header {
//   height: 40px;
//   background-color: #4C8AB9;
//   cursor: pointer;
//   color: white;
//   font-weight: 600;
//   line-height: 45px;
//   text-align: center;
// }

// .chat-container .chat-body {
//   height: calc(450px - (45px + 70px));
//   border: 1px solid #263238;
//   background: #fff;
//   position: relative;
// }

// .chat-container .chat-body .message-container {
//   width: 100%;
//   height: 100%;
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

// .chat-container .chat-body .message-container::-webkit-scrollbar {
//   display: none;
// }

// .chat-container .chat-body .message {
//   height: auto;
//   padding: 10px;
//   display: flex;
// }

// .chat-container .chat-body .message .message-content {
//   width: auto;
//   height: auto;
//   min-height: 40px;
//   max-width: 120px;
//   background-color: #43a047;
//   border-radius: 5px;
//   color: white;
//   display: flex;
//   align-items: center;
//   margin-right: 5px;
//   margin-left: 5px;
//   padding-right: 5px;
//   padding-left: 5px;
//   overflow-wrap: break-word;
//   word-break: break-word;
// }

// #me {
//   justify-content: flex-start;
// }

// #me .message-content {
//   justify-content: flex-start;
//   background-color: #98E27F;
// }

// #me .message-data {
//   justify-content: flex-start;
//   align-items: center;
//   margin-left: 5px;
// }

// #you {
//   justify-content: flex-end;
// }

// #you .message-content {
//   justify-content: flex-end;
//   background-color: #84C1F8;
// }

// #you .message-data {
//   justify-content: flex-end;
//   align-items: center;
//   margin-right: 5px;
// }

// .message-data .photo {
//   width: 25px;
//   height: 25px;
//   border-radius: 50%;
// }

// .message-data .user {
//   margin-left: 10px;
//   font-weight: bold;
// }

// .chat-container .chat-body .message .message-data {
//   display: flex;
//   font-size: 12px;
// }

// .chat-container .chat-footer {
//   height: 40px;
//   border: 1px solid black;
//   border-top: none;
//   display: flex;
// }

// .chat-container .chat-footer input {
//   height: 100%;
//   flex: 85%;
//   border: 0;
//   padding: 0 0.7em;
//   font-size: 1em;
//   outline: none;
// }

// .chat-container .chat-footer button {
//   border: 0;
//   display: grid;
//   place-items: center;
//   cursor: pointer;
//   flex: 15%;
//   height: 100%;
//   background: transparent;
//   outline: none;
//   font-size: 20px;
//   color: #4C8AB9;
// }

// .chat-container .chat-footer button:hover {
//   color: black;
// }
