.chat {
  border: 10px solid var(--travelog-blue);
  background: var(--travelog-blue);
}
.chat-header {
  height: 3rem;
}
.chat-body {
  border: 1px solid var(--travelog-dusty-blue);
  position: relative;
  height: calc(100vh - var(--header-height) - var(--footer-height) - var(--navbar-height) - 9rem );
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1.25;
  word-wrap: break-word;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background: #eee;
}
.chat .message {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.chat .message-data {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.chat .message-data .photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.chat .message-data .user {
  font-weight: bold;
}
.chat .message-content {
  border-radius: 1.15rem;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
  margin: 0.1rem 0;
  position: relative;
  width: fit-content;
}
.chat .me {
  align-items: flex-start;
}
.chat .me .message-content {
  align-self: flex-start;
  background-color: var(--travelog-green);
}
.chat .me .message-data {
  align-items: center;
}
.chat .me .message-data * {
  margin-right: 0.4rem;
}
.chat .you {
  align-items: flex-end;
}
.chat .you .message-data {
  flex-direction: row-reverse;
  text-align: right;
  align-items: center;
}
.chat .you .message-data * {
  margin-left: 0.4rem;
}
.chat .you .message-content {
  align-self: flex-end;
  background-color: var(--travelog-mid-blue);
}
.chat-footer {
  display: flex;
  padding-top: 0.5rem;
  gap: 0.5rem;
}
.chat-footer input {
  width: 100%;
  height: 4rem;
  background: #eee;
  box-sizing: border-box;
  outline: 0;
  resize: none;
  border-radius: 0.8rem;
  font-size: 1rem;
  padding: 0.8rem 4rem 1rem 1rem;
  box-shadow: inset 0.2rem 0.2rem 0.7rem #aaa;
  white-space: pre-wrap;
}
.chat-footer button {
  flex: 20%;
}
