:root {
  --footer-height: 4rem;
}
.footer {
  display: flex;
  height: var(--footer-height);
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-shadow: 0px 0px 4px white;
  background: var(--travelog-green);
}
@media screen and (min-width: 768px) {
  .footer {
    box-shadow: 1px 1px 7px var(--travelog-light-blue);
  }
}
.text {
  margin-left: 0.5rem;
  text-align: left;
  display: inline-block;
}
footer img {
  filter: drop-shadow(0px 2px 1px grey);
}
.extended {
  display: none;
}
@media screen and (min-width: 768px) {
  .extended {
    display: inline;
  }
}
