.journal__form {
  margin: 0 1rem;
}
.journal__form .journal-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.journal__form .journal__photo {
  margin: 2rem auto 1rem;
  width: 90%;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border: 15px solid white;
  transform: rotate(-0.7deg);
  position: relative;
}
.journal__form .journal__view-text {
  font-family: 'Indie Flower', cursive;
  font-size: 1.3rem;
  margin: 1rem;
}
.journal__form .button-group {
  display: flex;
}
.journal__form .journal__view-delete {
  background-color: #ff4d4d;
}
.journal__form .journal__form-textarea:invalid {
  background-color: #fff3f3;
  border-color: red;
}
.journal__view {
  height: 100%;
  margin: 1.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.journal__view .journal__view-text {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  resize: none;
  background-color: black;
  border: solid 1px black;
  border-radius: 3px;
  font-size: 1.5rem;
  overflow-y: scroll;
}
.journal__view .journal__view-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.journal__view .journal__view-update,
.journal__view .journal__view-delete {
  width: 40%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  line-height: 2rem;
  font-size: 1.5rem;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: pink;
}
.warn {
  color: red;
}
