.list-container {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-items: center;
}
.book {
  background-color: #8B0000;
  height: 7rem;
  width: 5rem;
  padding: 1rem;
  font-size: 16px;
  color: #e2b007;
  text-align: center;
}
.book a {
  text-decoration: none;
  color: inherit;
}
.book .trip-delete {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.book:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
}
