.list-container {
  margin: 0rem;
  padding: 3rem;
  background: var(--trvelog-green);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin: 0 auto;
}
.book {
  background-color: #8B0000;
  height: 15rem;
  width: 10rem;
  padding: 2rem;
  font-size: 16px;
  color: #e2b007;
}
.book a {
  text-decoration: none;
  color: inherit;
}
.book .trip-delete {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.book {
  background: pink;
  text-align: center;
  width: 18.5em;
  height: 23.0991em;
  margin-top: -4.4em;
  position: relative;
  transform: perspective(60em) rotateX(58deg) rotateZ(-34deg) skewY(-7deg);
  box-shadow: -1.4em 1.7em 0.3em -0.3em rgba(0, 0, 0, 0.8), -1.6em 1.8em 0.9em -0.2em rgba(0, 0, 0, 0.5), 0.3em 1.9em 1.3em rgba(0, 0, 0, 0.3);
  border-top-right-radius: 0.4em;
}
.container .book:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
}
