.trip-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.trip-wrapper .book {
  background-color: #8B0000;
  color: #e2b007;
  text-align: center;
}
.trip-wrapper .book,
.trip-wrapper .add-trip {
  position: relative;
  height: 12rem;
  width: 8rem;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.trip-wrapper .book h2,
.trip-wrapper .add-trip h2 {
  margin: 2.5rem 0.5rem 1rem;
  font-size: 0.8rem;
}
.trip-wrapper .book p,
.trip-wrapper .add-trip p {
  font-size: 0.6rem;
}
.trip-wrapper .add-trip {
  border: 3px solid rgba(139, 0, 0, 0.2);
  background: rgba(139, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-items: center;
}
.trip-wrapper .book a {
  text-decoration: none;
  color: inherit;
}
.trip-wrapper .book .delete-note {
  position: absolute;
  right: 0.5rem;
  bottom: 0;
}
