.journal {
  --journal-font: 'Indie Flower', cursive;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--navbar-height));
}
@media screen and (min-width: 769px) {
  .journal {
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--navbar-height) - 3rem);
  }
}
.journal input[type="file"] {
  display: none;
}
.journal .custom-file-upload {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--travelog-green);
  color: white;
  border-radius: 1rem;
  text-align: center;
  line-height: 100%;
  min-height: 2rem;
  padding: 0.5rem 2rem;
  margin: 0.3rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.journal .journal__menu {
  position: fixed;
  padding-left: 1rem;
  left: 0;
  top: 8rem;
  z-index: 101;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  transition: 0.5s;
  color: var(--travelog-dusty-blue);
  font-weight: 600;
}
.journal .journal__menu-select-container {
  width: calc(100vw - 5rem);
  background: white;
  border: 3px solid var(--travelog-green);
  border-radius: 0.5rem;
  height: 10rem;
  overflow-y: scroll;
}
.journal .journal__menu-button-container {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0.5rem;
  font-size: 2rem;
  border-radius: 50%;
  text-align: center ;
  padding-top: 0.5rem;
  background: var(--travelog-green);
  color: white;
  z-index: 100;
}
.journal .journal__menu-select-entry {
  margin: 0.5rem 0.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--travelog-dusty-blue);
  word-wrap: none;
  overflow: hidden;
}
.journal .last {
  border-bottom: none;
  padding-bottom: 0rem;
}
