.navbar {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  padding: 0.5rem;
}
.navbar .nav-select li {
  list-style: none;
  position: relative;
}
.navbar .nav-select li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
.navbar .nav-select li div {
  background: #001b34;
  border-right: 1px solid #eee;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 1rem;
  text-decoration: none;
  width: 100%;
}
.navbar .nav-select li li {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.navbar .nav-select li li Link {
  border-top: 1px solid #eee;
}
.navbar .nav-select:active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
