:root {
  --navbar-height: 3rem;
}
@media screen and (min-width: 768px) {
  .navbar .nav-select {
    width: 400px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--travelog-blue);
  z-index: 20;
}
.navbar .nav-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}
.navbar .tooltip {
  position: relative;
  top: 2rem;
  background: white;
}
.navbar li {
  list-style: none;
  display: inline;
  text-align: center ;
  width: 2rem;
  height: 2rem;
  margin: 10px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--travelog-light-blue);
}
@media (hover: hover) {
  .navbar [data-md-tooltip] {
    position: relative;
  }
  .navbar [data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background: var(--navbar-color);
    color: white;
    border-radius: 0.3rem;
    font-size: 12px;
    font-weight: 400;
  }
  .navbar [data-md-tooltip]:hover:before {
    transform: translateX(-50%) scale(1);
  }
}
.navbar img {
  display: inline;
  border-radius: 50%;
  margin: 0.5rem;
  height: 2rem;
}
@media screen and (min-width: 768px) {
}
