.navbar {
  width: 90%;

  & .nav-select {
    & li {
      width: 25%;
      list-style: none;
      position: relative;
      text-align: right;

      & Link {
        background: #001b34;
        border-right: 1px solid #eee;
        color: #fff;
        display: block;
        height: 2rem;
        line-height: 2rem;
        text-decoration: none;
        width: 100%;
      }
    }
  }

  & .nav-select:active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}